# Virtual environment
venv/
env/
venv_gpu/
ffmpeg/
#Python
*.pyc
*.pyd
__pycache__/
*.egg-info/
dist/
build/
*.pyo

# Data folders
uploads/
separated/
data/models/
*.log
.env
*.zip
*.exe
*.dll
*.lib

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

